<!DOCTYPE html>
<html>
  <head>
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='134704093-1',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->


    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="home-page">
  <!-- this is a comment in HTML -->
  <div>
    <header>
    {{#each user}}
    <div align="center" style="font-weight: bold; color: white; font-size: 25px;">Welcome {{name}} !</div>
    {{/each}}
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
    </header>

    <div class="menu">
    <ul>
        <li><a href="/analytics">Analytics</a></li> 
        <li><a href="/support">Support</a></li> 
        <li><a href="/settings">Settings</a></li> 
        <li><a href="/logout">Log Out</a></li>
    </ul>
    </div>

      {{#each user}}
      <div class ="stats">
      <p>HP:</p>
      <div class="progress">
        <div id ="health" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{hp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{hp}}%;">
          </div>
        </div>
        <p>Coins: <br>{{coins}}</p>
        <!-- <img src= {{img1}} width="150"/> -->
      </div>

      {{#if showAlternate}}
      <div class = "pet">
        <p align = "center">
          <img src={{dog}} width="300">
        </p>
      </div>
      <div class = "shop-button" id = "shoptrack">
        <p><a href="/shop"><img src="/images/shop_button.png" width="80"></a></p>
      </div>
      {{else}}
      <div class = "pet">
        <p align = "center">
          <a href="/shop"><img src={{dog}} width="300"></a>
        </p>
      </div>
      {{/if}}

      {{/each}}

      <div class = "input">
        <p><a href="/input"><img src="/images/input_btn.png" width="80"></a></p>
      </div>

      <!-- <div class = "analytics">
        <p><a href="/analytics" class="btn"><img src = "/images/analytics_button.png" width="24"></a></p>
      </div> -->
 



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88076750-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script>
      var check = document.getElementById("shoptrack");
      if(check){
        check.addEventListener("click", 
        function(){
          console.log("sent event");
          ga('send', 'event', 'button', 'click');
        });
      }
    </script>
  </body>
</html>
